@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    height: 100%;
    overflow: hidden;
}

.example {
    height: 100vh;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}